<div class="container">
  <div [hidden]="submitted">
    <h1>Account Form</h1>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #accountForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required [(ngModel)]="account.name" ngControl="name" #name="ngForm">
        TODO: remove this: {{account.name}}
      </div>
      <div class="form-group">
        <label for="balance">Balance</label>
        <input type="text" class="form-control" [(ngModel)]="balanceText" ngControl="balance" #balance="ngForm">
      </div>
      <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" required [(ngModel)]="account.type" ngControl="type" #type="ngForm">
              <option *ngFor="#t of types" [value]="t">{{t}}</option>
          </select>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
</div>
